*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

:root{
    --purple-color: #8800EB;
    --purple-color-light: #9964be;
}

.container{
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    background: rgb(226,184,207);
    background: linear-gradient(180deg, rgba(226,184,207,0.8239670868347339) 0%, rgba(255,255,255,1) 69%, rgba(255,255,255,1) 100%);

    position: relative;
}


header{
    width: 100%;
    height: 7vh;

    padding: 10px;
}

span{
    font-size: 24px;
}

a{
    color: black;
    text-decoration: none;
}

main{
    width: 100%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

#title-main-my-series-text{
    margin-bottom: 50px;
}

#title-main-my-series-text{
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 40px;
    font-weight: 300;
    font-size: 64px;
}


#add-button{
    width: 100px;
    height: 40px;

    padding: 5px;

    background: var(--purple-color-light);

    font-size: 18px;
    font-weight: 300;

    border-radius: 10px;
    border: 0.5px solid rgb(189, 189, 189);

    cursor: pointer;

    position: relative;
    top: 50%;
    left: 40%;
}

#add-button > a{
    color: white;
}

#main-content-div{
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
}

#main-content-title-div{
    display: flex;
}

#main-content-title-div > div {
    width: 20%;
    text-align: center;
}

#main-series-list-div{
    display: flex;
    width: 100%;
}

#main-series-list-div > div {
    width: 20%;
    text-align: center;
    padding-top: 20px;
}

#main-series-list-div > div > p{
    margin: 20px 0;
    font-size: 24px;
    line-height: 24px;
}

.div-btn-gerar{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#div-btn-gerar, #div-btn-deletar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div-btn-gerar > button, #div-btn-deletar > button{
    width: 25%;
    height: 28px;
    margin: 7.5px 0;

    background: rgb(255, 58, 58);
    color: white;

    font-weight: 300;

    border-radius: 10px;
    border: 0.5px solid rgb(189, 189, 189);

    cursor: pointer;
}

#div-btn-gerar > button{

    background: var(--purple-color-light);
    color: white;

    font-weight: 300;

    border-radius: 10px;
    border: 0.5px solid rgb(189, 189, 189);

    cursor: pointer;
}